<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- meta情報 -->
	<div th:replace="~{fragment :: meta}"></div>
	<!-- スタイル情報 -->
	<div th:replace="~{fragment :: styles}"></div>
	<!-- タイトル -->
	<title>レビュー編集</title>
</head>

<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 samuraitravel-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
								<li class="breadcrumb-item">
									<a th:href="@{/houses/__${review.getHouse().getId()}__}">
										民宿詳細
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">
							<span th:text="${review.getHouse().getName()}"></span>のレビュー編集
						</h1>

						<form method="post" th:action="@{/reviews/__${review.getId()}__/update}" th:object="${reviewEditForm}">
							<!-- 評価 -->
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="evaluation" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">評価</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('evaluation')}" class="text-danger small mb-2"
										th:errors="*{evaluation}"></div>
									<select class="form-control star" th:field="*{evaluation}"
										style="color: rgb(255,165,0)">
										<option value="&#9733;&#9734;&#9734;&#9734;&#9734;">
											&#9733;&#9734;&#9734;&#9734;&#9734;</option>
										<option value="&#9733;&#9733;&#9734;&#9734;&#9734;">
											&#9733;&#9733;&#9734;&#9734;&#9734;</option>
										<option value="&#9733;&#9733;&#9733;&#9734;&#9734;">
											&#9733;&#9733;&#9733;&#9734;&#9734;</option>
										<option value="&#9733;&#9733;&#9733;&#9733;&#9734;">
											&#9733;&#9733;&#9733;&#9733;&#9734;</option>
										<option value="&#9733;&#9733;&#9733;&#9733;&#9733;">
											&#9733;&#9733;&#9733;&#9733;&#9733;</option>
									</select>
								</div>
							</div>

							<!-- コメント -->
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="detail" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">コメント</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('detail')}" class="text-danger small mb-2"
										th:errors="*{detail}"></div>
									<textarea class="form-control" th:field="*{detail}" cols="30" rows="5"></textarea>
								</div>
							</div>

							<!-- 更新ボタン -->
							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit"
									class="btn text-white shadow-sm w-50 samuraitravel-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<!-- Bootstrap -->
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>